
<div>
    
    <div class="row" data-ng-view="">
    </div>
    

</div>


@section scripts
{
    <script>
        jQuery(document).ready(function () {
            app.run(document);
        });
</script>
}
